<p>Estadísticas</p>
<br/>
<p><span>Número de preguntas: <%= stats.numPreguntas %></span></p>
<p><span>Número de comentarios totales: <%= stats.numComentarios %></span></p>
<p><span>Número medio de comentarios por pregunta: <%= stats.commentsPorPregunta %></span></p>
<p><span>Número de preguntas sin comentarios: <%= stats.numPreguntasNoComentadas %></span></p>
<p><span>Número de preguntas con comentarios: <%= stats.numPreguntasComentadas %></span></p>